.DS_Store
*.pyc
*.pyo
*.o
*.obj
*.d
*.a
*.zip
*.gz
*.tgz
*.bz2
*.tar
*.7z
*.xz
*.make
Makefile
Build/*
Libs/Assert/orig/*
Libs/Boost/orig/*
Libs/Box2D/orig/*
Libs/Cajun/orig/*
Libs/FLAC/orig/*
Libs/Freetype/orig/*
Libs/Glew/orig/*
Libs/Greenlet/orig/*
Libs/Jpeg/orig/*
Libs/Ogg/orig/*
Libs/OpenALSoft/orig/*
Libs/Png/orig/*
Libs/Python/orig/*
Libs/Rocket/orig/*
Libs/SFML/orig/*
Libs/Sndfile/orig/*
Libs/SQLite/orig/*
Libs/Thor/orig/*
Libs/TMXLoader/orig/*
Libs/Vorbis/orig/*
Libs/Zlib/orig/*

